.buy__title {
  font-family: $mainFontFamily;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.2;
  color: $primaryColor;
  margin-bottom: 16px;
  margin: 50px 30px 30px;
  text-align: center;
}

.buy__ticket {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.buy__label {
  font-family: $mainFontFamily;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.89;
  color: #1b1b1c;
  margin-bottom: 20px;
}
.buy__input,
.buy__textarea,
.buy__btn {
  border-radius: 30px;
  padding: 5px 15px;
}

.buy__input {
  border-color: rgba(105, 102, 102, 0.542);
  width: 300px;
  height: 40px;
  margin-left: 10px;
}
.buy__textarea {
  margin-left: 10px;
  height: 40px;
}
.buy__btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #1b1b1c;
  width: 100px;
  background: rgba(49, 62, 247, 0.1);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  border-color: transparent;
  &:hover,
  &:focus {
    color: $secondaryColor;
    background-color: $primaryColor;
  }
  margin: 0 auto;
}
