// * {
//   cursor: url('../images/cursor-vector.png'), auto;
//   @include mq(retina) {
//     cursor: url('../images/cursor-vector-2x.png'), auto;
//   }
// }
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  // cursor: url('/src/images/cursor-1.png'), auto;
}
main {
  width: 1440px;
}

a,
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}
