$primaryColor: #313ef7;
$secondaryColor: #ffffff;
$thirdColor: #010223;
$primaryTextColor: #030522;
$secondaryTextColor: #aeb5bf;

// $btn-hoverColor: #0a8817;
// $btn-disabledColor: #ababab;
// $backgroundColor: #84a178;
// $extrabackgroundColor: #fcfcfc;
// $accentColor: #f8d24e;
// $extraColor: #d6936d;
// $mainTransitionDuration: 250ms;
// $mainTransitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$mainFontFamily: 'Montserrat', sans-serif;
$secondaryFontFamily: 'Rubik', sans-serif;
$thirdFontFamyly: 'Inter', sans-serif;
$transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
