<section class="section">
  <div class="container container__travelars">
    <h2 class="travelars__title">Best travelars of this month</h2>
    <ul class="trawelars__list">
      <li class="travelars__item">
        <img
          src="./images/best-place-1.png"
          alt="Dubai"
          class="travelars__picture"
          width="282"
          height="248"
        /><img
          src="./images/travelar-1.png"
          alt="Photo men in sunglasses"
          class="tpavelars__photo"
          width="80"
          height="80"
        />
        <h3 class="travelars__text">Raju Mullah</h3>
        <p class="travelars__description">@rajumulllah</p>
      </li>
      <li class="travelars__item">
        <img
          src="./images/best-place-2.png"
          alt="New York"
          class="travelars__picture"
          width="282"
          height="248"
        /><img
          src="./images/travelar-2.png"
          alt="Photo yong women"
          class="tpavelars__photo"
          width="80"
          height="80"
        />
        <h3 class="travelars__text">Zaire Vetrovs</h3>
        <p class="travelars__description">@zairevetrovs</p>
      </li>
      <li class="travelars__item">
        <img
          src="./images/best-place-3.png"
          alt="Los Angeles"
          class="travelars__picture"
          width="282"
          height="248"
        /><img
          src="./images/travelar-3.png"
          alt="Photo women with short haircut"
          class="tpavelars__photo"
          width="80"
          height="80"
        />
        <h3 class="travelars__text">Marcus Dias</h3>
        <p class="travelars__description">@marcusdias</p>
      </li>
      <li class="travelars__item">
        <img
          src="./images/best-place-4.png"
          alt="Brooklin"
          class="travelars__picture"
          width="282"
          height="248"
        /><img
          src="./images/travelar-4.png"
          alt="Photo women with curling hair"
          class="tpavelars__photo"
          width="80"
          height="80"
        />
        <h3 class="travelars__text">Davis Schleifer</h3>
        <p class="travelars__description">@davisschleifer</p>
      </li>
    </ul>
  </div>
</section>
