<section class="section">
    <div class="container container__booking">
        <h2 class="visually-hidden">Booking tickets</h2>
        <div class="booking__thumb">
            <form class="booking__form form">
                <div class="booking__classlist"></div>   
                    <ul class="booking__form booking__form--checkbox-list">
                        <li class="booking__form booking__form--checkbox-item ">
                            <label for="booking" class="booking__form booking__form--checkbox-title">
                                <input
                                    type="checkbox"
                                    name="booking"
                                    id="policy"
                                    class="booking__form booking__form--checkbox-input visually-hidden"
                                />
                                <span class="booking__form booking__form--text">Economy</span>
                            </label>
                        </li>
                        <li class="booking__form booking__form--checkbox-item ">
                            <label for="booking" class="booking__form booking__form--checkbox-title">
                                <input
                                    type="checkbox"
                                    name="booking"
                                    id="policy"
                                    class="booking__form booking__form--checkbox-input visually-hidden"
                                />
                                <span class="booking__form booking__form--text">Busniness</span>
                            </label>
                        </li>
                        <li class="booking__form booking__form--checkbox-item ">
                            <label for="booking" class="booking__form booking__form--checkbox-title">
                                <input
                                    type="checkbox"
                                    name="booking"
                                    id="policy"
                                    class="booking__form booking__form--checkbox-input visually-hidden"
                                />
                                <span class="booking__form booking__form--text">First</span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="booking-information">
                    <ul class="booking__list">
                        <li>
                            <!-- <svg class="booking__icon" width="56" height="56">
                                <use href="./images/icons.svg#icon-email"></use>
                            </svg> -->
                            <h3 class="booking__text">Location</h3>
                            <p class="booking__description">Where are you going?</p>
                        </li>
                        <li><!-- <svg class="booking__icon" width="56" height="56">
                                <use href="./images/icons.svg#icon-email"></use>
                            </svg> -->
                            <h3 class="booking__text">Travelers</h3>
                            <p class="booking__description">Add guest</p></li>
                        <li><!-- <svg class="booking__icon" width="56" height="56">
                                <use href="./images/icons.svg#icon-email"></use>
                            </svg> -->
                            <h3 class="booking__text">Check-in</h3>
                            <p class="booking__description">Add date</p></li>
                        <li><!-- <svg class="booking__icon" width="56" height="56">
                                <use href="./images/icons.svg#icon-email"></use>
                            </svg> -->
                            <h3 class="booking__text">Check-out</h3>
                            <p class="booking__description">Add date</p></li>
                    </ul>
                </div>
                <button class="form__button button" type="submit">Book Now</button>
            </form>
        </div>
    </div>
</section>
