<section class="section">
  <div class="container container__booking">
    <h2 class="visually-hidden">Booking tickets</h2>
    <div class="booking__thumb">
      <form class="booking__form form">
        <div class="booking__classlist">
          <ul class="booking__form booking__form--checkbox-list">
            <li class="booking__form booking__form--checkbox-item">
              <label
                for="booking-economy"
                class="booking__form booking__form--checkbox-title"
              >
                <input
                  type="checkbox"
                  name="booking"
                  id="booking-economy"
                  class="booking__form booking__form--checkbox-input visually-hidden"
                />
                <span class="booking__form booking__form--text">Economy</span>
              </label>
            </li>
            <li class="booking__form booking__form--checkbox-item">
              <label
                for="booking-bussines"
                class="booking__form booking__form--checkbox-title"
              >
                <input
                  type="checkbox"
                  name="booking"
                  id="booking-bussines"
                  class="booking__form booking__form--checkbox-input visually-hidden"
                />
                <span class="booking__form booking__form--text">Business</span>
              </label>
            </li>
            <li class="booking__form booking__form--checkbox-item">
              <label
                for="booking-first"
                class="booking__form booking__form--checkbox-title"
              >
                <input
                  type="checkbox"
                  name="booking"
                  id="booking-first"
                  class="booking__form booking__form--checkbox-input visually-hidden"
                />
                <span class="booking__form booking__form--text">First</span>
              </label>
            </li>
          </ul>
        </div>
        <div class="booking-info">
          <ul class="booking-info__list">
            <li class="booking-info__item">
              <div class="bookihg-info__thumb">
                <svg class="booking-info__icon" width="56" height="56">
                  <use href="./images/symbol-defs.svg#icon-location"></use>
                </svg>
                <div class="booking-info__wrap">
                  <h3 class="booking-info__text">Location</h3>
                  <p class="booking-info__description">Where are you going?</p>
                </div>
              </div>
              <label for="destination" class="booking-info__title">
                <input
                  type="text"
                  name="name"
                  id="destination"
                  placeholder="Select a destination"
                  required
                  class="booking-info__input visually-hidden"
                />
              </label>
            </li>
            <li class="booking-info__item">
              <div class="bookihg-info__thumb">
                <svg class="booking-info__icon" width="56" height="56">
                  <use href="./images/symbol-defs.svg#icon-travelers"></use>
                </svg>
                <div class="booking-info__wrap">
                  <h3 class="booking-info__text">Travelers</h3>
                  <p class="booking-info__description">Add guest</p>
                </div>
              </div>
              <label for="guests" class="booking-info__title">
                <input
                  type="text"
                  name="name"
                  id="guests"
                  placeholder="Select a guests"
                  required
                  class="booking-info__input visually-hidden"
                />
              </label>
            </li>
            <li class="booking-info__item">
              <div class="bookihg-info__thumb">
                <svg class="booking-info__icon" width="56" height="56">
                  <use href="./images/symbol-defs.svg#icon-check-in"></use>
                </svg>
                <div class="booking-info__wrap">
                  <h3 class="booking-info__text">Check-in</h3>
                  <p class="booking-info__description">Add date</p>
                </div>
              </div>
              <label for="check-in" class="booking-info__title">
                <input
                  type="text"
                  name="name"
                  id="check-in"
                  placeholder="Select a date"
                  required
                  class="booking-info__input visually-hidden"
                />
              </label>
            </li>
            <li class="booking-info__item">
              <div class="bookihg-info__thumb">
                <svg class="booking-info__icon" width="56" height="56">
                  <use href="./images/symbol-defs.svg#icon-check-out"></use>
                </svg>
                <div class="booking-info__wrap">
                  <h3 class="booking-info__text">Check-out</h3>
                  <p class="booking-info__description">Add date</p>
                </div>
              </div>
              <label for="check-out" class="booking-info__title">
                <input
                  type="text"
                  name="name"
                  id="check-out"
                  placeholder="Select a date"
                  required
                  class="booking-info__input visually-hidden"
                />
              </label>
            </li>
          </ul>
          <button class="booking-form__button button" type="submit">
            Book Now
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
