<section class="section">
  <div class="container container__features">
    <h2 class="features__title">Our Features</h2>
    <ul class="features__list">
      <li class="features__item">
        <div class="features__thumb features__thumb--first">
          <a href="#" class="features__link">
            <svg class="features__icon" width="40" height="40">
              <use href="./images/symbol-defs.svg#icon-gude"></use>
            </svg>
          </a>
          <h3 class="features__text">Best Guide</h3>
          <p class="features__description">
            Suspendisse ultrices nibh non cursus sagittis. Morbi dictum
            consequat ex, quis finibus magna.
          </p>
          <button type="button" class="features__btn">
            <svg class="features-arrow__icon" width="21" height="21">
              <use href="./images/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="features__item">
        <div class="features__thumb features__thumb--second">
          <a href="#" class="features__link">
            <svg class="features__icon" width="40" height="40">
              <use href="./images/symbol-defs.svg#icon-discount"></use>
            </svg>
          </a>
          <h3 class="features__text">More Discount</h3>
          <p class="features__description">
            Suspendisse ultrices nibh non cursus sagittis. Morbi dictum
            consequat ex, quis finibus magna.
          </p>
          <button type="button" class="features__btn">
            <svg class="features-arrow__icon" width="21" height="21">
              <use href="./images/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="features__item">
        <div class="features__thumb features__thumb--third">
          <a href="#" class="features__link">
            <svg class="features__icon" width="40" height="40">
              <use href="./images/symbol-defs.svg#icon-lock"></use>
            </svg>
          </a>
          <h3 class="features__text">Private</h3>
          <p class="features__description">
            Suspendisse ultrices nibh non cursus sagittis. Morbi dictum
            consequat ex, quis finibus magna.
          </p>
          <button type="button" class="features__btn">
            <svg class="features-arrow__icon" width="21" height="21">
              <use href="./images/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="features__item">
        <div class="features__thumb features__thumb--forth">
          <a href="#" class="features__link">
            <svg class="features__icon" width="40" height="40">
              <use href="./images/symbol-defs.svg#icon-customer-service"></use>
            </svg>
          </a>
          <h3 class="features__text">Online Support</h3>
          <p class="features__description">
            Suspendisse ultrices nibh non cursus sagittis. Morbi dictum
            consequat ex, quis finibus magna.
          </p>
          <button type="button" class="features__btn">
            <svg class="features-arrow__icon" width="21" height="21">
              <use href="./images/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
