<footer class="footer-site">
  <div class="container container__footer">
    <img
      class="footer__dark-bg"
      src="./images/footer-bg.png"
      alt="Dark blue background"
      width="1440"
      height="454"
    />
    <div class="footer__wraper">
      <div class="footer__box-content">
        <div class="footer__info">
          <div class="footer-logo">
            <a href="./index.html" class="logo"
              ><svg
                class="logo__icon logo__icon--footer"
                width="34"
                height="34"
              >
                <use href="./images/symbol-defs.svg#icon-logo"></use></svg
            ></a>
            <a href="./index.html"><span class="logo__text">FT PLANE</span></a>
          </div>
          <p class="footer-text">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form
          </p>
          <ul class="footer__soc">
            <li>
              <a
                href=""
                class="footer__soc--link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                ><svg class="footer__soc--icon" width="8" height="16">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li>
              <a
                href=""
                class="footer__soc--link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                ><svg class="footer__soc--icon" width="16" height="16">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg
              ></a>
            </li>
            <li>
              <a
                href=""
                class="footer__soc--link"
                target="_blank"
                rel="noopener noreferrer nofollow"
                ><svg class="footer__soc--icon" width="21" height="16">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use></svg
              ></a>
            </li>
          </ul>
        </div>
        <div class="footer__adress">
          <h2 class="footer-title">Address</h2>
          <a href="#" class="footer__link">Integrations</a>
          <a href="#" class="footer__link">Hello</a>
          <a href="#" class="footer__link">Intercom</a>
          <a href="#" class="footer__link">Customer</a>
        </div>
        <div class="footer__about">
          <h2 class="footer-title">About</h2>
          <a href="#" class="footer__link">Our Blog</a>
          <a href="#" class="footer__link">Customers</a>
          <a href="#" class="footer__link">Our Team</a>
          <a href="#" class="footer__link">Careers</a>
          <a href="#" class="footer__link">Integrations</a>
        </div>
        <div class="footer__support">
          <h2 class="footer-title">Support</h2>
          <a href="#" class="footer__link">Test Zoom</a>
          <a href="#" class="footer__link">Account</a>
          <a href="#" class="footer__link">Support Center</a>
          <a href="#" class="footer__link">Live Training</a>
          <a href="#" class="footer__link">Accessibility</a>
        </div>
      </div>
      <div class="footer__copiryght">
        <p class="footer__copiryght--text">Copyright &#169;</p>
        <a href="./index.html" class="footer__logo--link"
          ><span class="logo__text logo__text--footer">FT PLANE</span></a
        >
        <p class="footer__copiryght--text">2022</p>
        <p class="footer__copiryght--text">All right reserved</p>
      </div>
    </div>
  </div>
</footer>
