<section class="section">
  <div class="container container__hero">
    <img
      class="dark-bacground"
      src="./images/hero-header-bg.png"
      alt="Dark blue background"
      width="1440"
      height="810"
    />
    <img
      class="map-bacground"
      src="./images/map.png"
      alt="Map of the world"
      width="1323"
      height="438"
    />
    <img
      class="plane-bacground"
      src="./images/hero-plane.png"
      alt="White air plane"
      width="1323"
      height="398"
    />
    <h1 class="hero__title">Travel around the world</h1>
    <p class="hero__text">
      One of the advantages of being disorganized is that one is always having
      surprising discoveries
    </p>
  </div>
</section>
