<header>
  <div class="container header__container">
    <nav class="header__nav">
      <a href="./index.html" class="logo"
        ><svg width="34" height="34">
          <use class="logo-icon" href="./images/logo.svg"></use></svg
        ><span class="logo">FT PLANE</span></a
      >
      <ul class="site-nav">
        <li class="site-nav__item">
          <a href="" class="site-nav__link">All Flight</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Schedule</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Passengers</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Your Orders</a>
        </li>
      </ul>
      <button class="modal-order">Let’s Fly</button>
    </nav>
  </div>
</header>
