<section class="section">
  <div class="container container__let-fly">
    <div class="let-fly__thumb">
      <div class="let-fly__pictures--wraper">
        <img
          src="./images/let-fly1.png"
          alt="Girl make a photo big bildings on her smartphone"
          class="let-fly__picture--first"
          width="198"
          height="283"
        />
        <img
          src="./images/let-fly2.png"
          alt="Men siting on the steirs in front of a mountain river"
          class="let-fly__picture--second"
          width="305"
          height="445"
        />
        <img
          src="./images/let-fly3.png"
          alt="Two passports on the bacground Paris"
          class="let-fly__picture--third"
          width="182"
          height="255"
        />
        <img
          src="./images/let-fly-tickets.png"
          alt="Plane tickets"
          class="let-fly__picture--ticets"
          width="64"
          height="64"
        />
        <img
          src="./images/let-fly-ny.png"
          alt="New York"
          class="let-fly__picture--ny"
          width="177"
          height="70"
        />
        <img
          src="./images/let-fly-clouds.png"
          alt="Blue cloud"
          class="let-fly__picture--cloud"
          width="80"
          height="80"
        />
        <img
          src="./images/let-fly-stars.png"
          alt="Gold star and number five"
          class="let-fly__picture--star"
          width="112"
          height="70"
        />
      </div>
      <div class="let-fly__content--wraper">
        <h2 class="let-fly__title">Let's fly</h2>
        <p class="let-fly__text">
          It's one of the leading online flight booking platforms in the world
        </p>
        <div class="let-fly__list-wrapper">
            <ul class="let-fly__list">
                <li class="let-fly__item">
                    Contrary to popular belief, Lorem Ipsum is not simply random text</p>
                </li>
                <li class="let-fly__item">
                    If you are going to use a passage of Lorem Ipsum
                </li>
                <li class="let-fly__item">
                    Lorem Ipsum is therefore always free from repetition, injected
                    humour, or non-characteristic words etc.
                </li>
                <li class="let-fly__item">
                    It is a long established fact that a reader will be distracted by
                    the readable content of a page when looking at its layout.
                </li>
            </ul>
        </div>
        <button type="button" class="let-fly__btn button">Book Now</button>
      </div>
    </div>
  </div>
</section>
