<section class="section">
  <div class="container container__memeories">
    <h2 class="memories__title">Make memories with us</h2>
    <ul class="memories__list">
      <li class="memories__item memories__item--up">
        <img
          src="./images/memories1.png"
          alt="Dubai"
          class="memories__picture"
          width="262.5"
          height="390"
        />
      </li>
      <li class="memories__item memories__item--down">
        <img
          src="./images/memories2.png"
          alt="Dubai"
          class="memories__picture"
          width="262.5"
          height="390"
        />
      </li>
      <li class="memories__item memories__item--up">
        <img
          src="./images/memories3.png"
          alt="Dubai"
          class="memories__picture"
          width="262.5"
          height="390"
        />
      </li>
      <li class="memories__item memories__item--down">
        <img
          src="./images/memories4.png"
          alt="Dubai"
          class="memories__picture"
          width="262.5"
          height="390"
        />
      </li>
    </ul>
  </div>
</section>
