<section class="section">
  <div class="container container__tickets">
    <div class="tickets__wraper">
      <div class="tickets__text-box">
        <h2 class="tickets__title">Book Popular Flight Tickets</h2>
        <p class="tickets__text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's
        </p>
        <img
          src="./images/air-delivery.png"
          alt="Plane fly apound the Earth"
          class="tickets__picture"
          width="315"
          height="315"
        />
      </div>
      <div class="tickets__slider-box">
        <img
          src="./images/ticket-economy.png"
          alt="Fly tickets slide"
          class="tickets__slider-img"
          width="390"
          height="505"
        />
      </div>
    </div>
  </div>
</section>
