.backdrop {
  background-color: #aeb5bf6a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  // overflow-y: scroll;
  overflow: hidden;
  // overflow-y: none;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $secondaryColor;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 500px;
  height: 600px;
  padding: 20px;
}
.close-modal {
  position: absolute;
  right: 20;
  width: 70px;
  height: 30px;
  background-color: $primaryColor;
  border-radius: 50;
  border: transparent;
  &:hover,
  &:focus {
    background-color: $secondaryTextColor;
    color: $secondaryColor;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
}
