.container__booking {
  width: 1440px;
  height: 237px;
  position: relative;
  background-color: $extrabackgroundColor;
}
.booking__thumb {
  width: 1200px;
  height: 276px;
  background-color: $secondaryColor;
}
