.header__container {
  width: 1440px;
  background-color: $primaryColor;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-icon {
  fill: $secondaryColor;
}
.site-nav {
  display: flex;
  flex-direction: row;
}
.site-nav__link {
  font-style: $secondaryColor;
}
