.container__subscribe {
  height: 430px;
  background: rgba(49, 62, 247, 0.05);
  padding: 100px 453px 100px 453px;
}
.subscribe__title {
  font-family: $mainFontFamily;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.015em;
  text-transform: capitalize;
  color: $thirdTextColor;
  margin-bottom: 40px;
}
.subscribe__form {
  width: 493px;
  height: 70px;
  display: flex;
  position: relative;
}
.subscribe__input {
  width: 493px;
  height: 70px;
  font-family: $secondaryFontFamily;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #aeb5bf;
  opacity: 0.9;
  padding: 11px 154px 11px 20px;
  background: $secondaryColor;
  box-shadow: 0px 100px 200px rgba(1, 23, 54, 0.1);
  border-radius: 150px;
  border-color: transparent;
  align-items: center;
  &:placeholder-shown {
    outline-color: #92959a;
  }
}
.subscribe__btn {
  width: 132px;
  height: 48px;
  padding: 10px 25px;
  border-radius: 56px;
  border-color: transparent;
  font-family: $mainFontFamily;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  background-color: $primaryColor;
  color: $secondaryColor;
  position: absolute;
  right: 11px;
  top: 11px;
  z-index: 1;
}
